@font-face {
    font-family: fonttitle;
    src: url(Poppins-Medium.ttf);
}

@font-face {
    font-family: fonttxt;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: mainfont;
    src: url(Poppins-Light.ttf);
}


@font-face {
    font-family: mainfont2;
    src: url(Poppins-Thin.ttf);
}







body{

    background-color: #EEF3F1;
    font-family: fonttxt;
}

nav {
    width: 100%;
    padding: 15px 0;
    background-color: #76C0AC;
    float: left;
    
}

nav h1 {
    float: left;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline;
    float: left;
    padding: 35px 15px;
    margin-top: 25px;
    
}

nav ul li a {
    
    padding: 15px;
    background-color: #76C0AC;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

nav ul li a:hover {

    background-color: #506175;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 20px 0;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {

    content: "";
    clear: both;
    display: table;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {

    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;} 
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

header img {

    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.cad {

    text-align: center;
    
    padding-bottom: 10px;
    font-family: fonttitle;
    color: #506175;
    font-size: 22px;
    
}

.cadd {

    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: fonttitle;
    color: #506175;
    font-size: 22px;

}

hr {

    width: 40%; 
    height: 5px; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border: 0px; 
    background: #76C0AC;
    padding-bottom: 8px;
    border-radius: 5px;
}

#hr2 {

    width: 47%; 
    height: 5px; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border: 0px; 
    color: #ff9999; 
    background: #76C0AC;
    padding-bottom: 8px;
    border-radius: 5px;
}

#hr3 {

    width: 67%; 
    height: 5px; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border: 0px; 
    color: #ff9999; 
    background: #76C0AC;
    padding-bottom: 8px;
    border-radius: 5px;
}

.center {

    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #506175;
    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #76C0AC;
    transition: border-color 0.3s ease;
    color: #506175;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #506175;
}

input[type="submit"] {
    background-color: #506175;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: fonttxt;
}

input[type="submit"]:hover {
    background-color: #76C0AC;
}


@keyframes rainbow {
    0% { color: rgb(255, 0, 0); } /* Vermelho */
    33% { color: rgb(0, 255, 0); } /* Verde */
    66% { color: rgb(0, 0, 255); } /* Azul */
    100% { color: rgb(255, 0, 0); } /* Vermelho */
}


#join:hover {

    animation: rainbow 8s linear infinite;
    background-color: #1b2024;
    
    
}



.have  a {

    color: #506175;
    
}

footer {

    background-color: #76C0AC;
    padding: 15px;
    
}

.col-6 img {

    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.cadd {

    text-align: center;
    font-family: fonttitle;
    color: #76C0AC;
    font-size: 18px;
}

.caddd {

    text-align: center;
    font-family: fonttitle;
    color: #506175;
    font-size: 20px;
}

#txt {

    text-align: center;
    color: #506175;
    font-family: fonttxt;
    font-size: 16px;
}

#t1 {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 40px;
    font-family: mainfont;
    color: #506175;

}

#topin {

    vertical-align: top;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #76C0AC;
    color: #fff;
    
}

table {

    padding-bottom: 20px;
}










#objeto-a-flutuar {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: block;

}

#objeto-a-flutuar:hover {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

textarea {

    resize: none;
    height: auto;
    min-height: 50px;
    width: 460px;
    border-radius: 5px;
    border-color: #76C0AC;
}

button {

    padding: 15px;
    background-color: #76C0AC;
    border-radius: 10px;
    border-color: none;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

button:hover {

    background-color: #506175;
}

a {

    text-decoration: none;
    color: #fff;
    
}

.login {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    
}

.cadastross {

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    margin-bottom: 10px;
    
}